.assets/Multi-LLM Sentinel Threat Hunting and Intelligence Analysis Agent.json
{
  "name": "Multi-LLM Sentinel Threat Hunting and Intelligence Analysis Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "184afabd-3ca9-4265-9082-15e8673006d7",
      "name": "Poll Sentinel Logs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        992
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "273f542b-d163-4611-b7ed-4060ad5ea92b",
      "name": "Real-time Sentinel Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        1184
      ],
      "webhookId": "98a00cbc-d6ce-4843-be8c-160c52e97fc0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "sentinel_workspace_id",
              "value": "<__PLACEHOLDER_VALUE__your_sentinel_workspace_id__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sentinel_api_version",
              "value": "2023-11-01",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "lookback_minutes",
              "value": 15,
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "query_timeout",
              "value": 300,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "efc683ce-df64-469e-84f5-9a134ee7ee00",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        1088
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://management.azure.com/subscriptions/<__PLACEHOLDER_VALUE__subscription_id__>/resourceGroups/<__PLACEHOLDER_VALUE__resource_group__>/providers/Microsoft.OperationalInsights/workspaces/={{ $json.sentinel_workspace_id }}/api/query?api-version={{ $json.sentinel_api_version }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"SecurityEvent | where TimeGenerated > ago(15m) | union SigninLogs | where TimeGenerated > ago(15m) | union AuditLogs | where TimeGenerated > ago(15m)\"\n}",
        "options": {}
      },
      "id": "1c8f2b1c-24c6-44e0-b512-0b42580df266",
      "name": "Fetch Sentinel Security Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        1088
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "event_id",
              "value": "={{ $json.id || $json.EventID }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "timestamp",
              "value": "={{ $json.TimeGenerated }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "severity",
              "value": "={{ $json.Level || $json.SeverityLevel || 'Medium' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "source_ip",
              "value": "={{ $json.IpAddress || $json.SourceIP }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "user",
              "value": "={{ $json.UserPrincipalName || $json.Account }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "event_type",
              "value": "={{ $json.Activity || $json.EventType }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "raw_event",
              "value": "={{ JSON.stringify($json) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "c7ad01d9-f567-403e-a838-10da90c3eb29",
      "name": "Normalize Security Events",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        1088
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.severity }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-2",
              "leftValue": "={{ $json.severity }}",
              "rightValue": "Critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-3",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "Malware",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "condition-4",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "Breach",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "condition-5",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "Intrusion",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "629b0bc1-ad59-4005-9aad-1ab33c56cf3c",
      "name": "Filter High-Risk Events",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1152,
        1088
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "raw_event",
        "options": {}
      },
      "id": "2d21f6bf-eb36-469c-a2e5-bffc139c894c",
      "name": "Split Events for Parallel AI Analysis",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1376,
        1088
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search historical threat intelligence database for similar attack patterns, known IOCs, and previous security incidents. Use this to enrich current threat analysis with historical context.",
        "pineconeIndex": {
          "__rl": true,
          "mode": "id",
          "value": "rag"
        },
        "topK": 5,
        "options": {}
      },
      "id": "1f65baa8-bff5-4ae5-9843-78749a9fa123",
      "name": "Historical Threat Intelligence DB",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1600,
        528
      ],
      "credentials": {
        "pineconeApi": {
          "id": "8G92OuiPqi67ZXwx",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "58978402-3e08-488a-b045-b4e72ed80b24",
      "name": "Embeddings for Threat Vectors",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1680,
        736
      ],
      "credentials": {
        "openAiApi": {
          "id": "4TDPRtH4ghsFcAjh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"threat_level\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"Critical\", \"High\", \"Medium\", \"Low\"]\n\t\t},\n\t\t\"attack_type\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"indicators_of_compromise\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"mitre_tactics\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"confidence_score\": {\n\t\t\t\"type\": \"number\",\n\t\t\t\"minimum\": 0,\n\t\t\t\"maximum\": 1\n\t\t},\n\t\t\"recommended_actions\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"reasoning\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t},\n\t\"required\": [\"threat_level\", \"attack_type\", \"confidence_score\", \"reasoning\"]\n}"
      },
      "id": "fcdb39ff-2a90-42bc-9dcb-6e879504e951",
      "name": "GPT-4 Threat Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1888,
        528
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "1d3aacb5-c611-40c7-8064-7e410d31d3e7",
      "name": "GPT-4 Threat Analysis Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2016,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "4TDPRtH4ghsFcAjh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "2a74cec9-5d7c-4f24-9c86-f8bc52dfe67b",
      "name": "Threat Context Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2144,
        528
      ]
    },
    {
      "parameters": {
        "toolDescription": "Query VirusTotal API to check file hashes, URLs, IPs, and domains for malware and threat intelligence. Returns reputation scores and detection results.",
        "url": "=https://www.virustotal.com/api/v3/ip_addresses/{{ $fromAI('ip_address', 'IP address to check', 'string') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apikey",
              "value": "<__PLACEHOLDER_VALUE__virustotal_api_key__>"
            }
          ]
        },
        "options": {}
      },
      "id": "b81348af-264c-4806-aad9-8210a2dd547a",
      "name": "VirusTotal Intelligence Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2272,
        528
      ]
    },
    {
      "parameters": {
        "toolDescription": "Check IP address reputation using AbuseIPDB. Returns abuse confidence score, reports count, and whether IP is whitelisted or blacklisted.",
        "url": "=https://api.abuseipdb.com/api/v2/check?ipAddress={{ $fromAI('ip_address', 'IP address to check', 'string') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Key",
              "value": "<__PLACEHOLDER_VALUE__abuseipdb_api_key__>"
            }
          ]
        },
        "options": {}
      },
      "id": "f5670ba5-ef4e-43f8-9d92-f27021cf0671",
      "name": "AbuseIPDB Reputation Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2400,
        528
      ]
    },
    {
      "parameters": {
        "toolDescription": "Query MITRE ATT&CK framework to map observed techniques to tactics and get detailed information about attack patterns and procedures.",
        "url": "=https://attack.mitre.org/api/v1/techniques/{{ $fromAI('technique_id', 'MITRE technique ID like T1566', 'string') }}",
        "options": {}
      },
      "id": "20aca372-9716-461b-9f4c-fed313c9fad5",
      "name": "MITRE ATT&CK Framework Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2528,
        528
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Analyze this security event: ' + JSON.stringify($json) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert cybersecurity threat hunter analyzing Microsoft Sentinel security events. Analyze the following security event for threats:\n\nEvent Data: {{ $json.raw_event }}\n\nPerform deep threat analysis:\n1. Identify the threat level (Critical/High/Medium/Low)\n2. Classify the attack type (e.g., phishing, malware, lateral movement, data exfiltration)\n3. Extract indicators of compromise (IPs, domains, file hashes, user accounts)\n4. Map to MITRE ATT&CK tactics and techniques\n5. Use the threat intelligence tools to enrich your analysis\n6. Provide specific recommended actions\n7. Explain your reasoning\n\nBe thorough and precise in your analysis."
        }
      },
      "id": "104053e8-9316-4d69-bd6a-07b96d0180bc",
      "name": "GPT-4 Threat Hunter Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2080,
        304
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"threat_level\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"Critical\", \"High\", \"Medium\", \"Low\"]\n\t\t},\n\t\t\"attack_type\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"indicators_of_compromise\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"mitre_tactics\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"confidence_score\": {\n\t\t\t\"type\": \"number\",\n\t\t\t\"minimum\": 0,\n\t\t\t\"maximum\": 1\n\t\t},\n\t\t\"recommended_actions\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"reasoning\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t},\n\t\"required\": [\"threat_level\", \"attack_type\", \"confidence_score\", \"reasoning\"]\n}"
      },
      "id": "2e059903-e84f-4248-b4ec-b40f9ad1877d",
      "name": "Claude Threat Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2000,
        1136
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "claude-3-5-sonnet-20241022"
        }
      },
      "id": "fc01fb1c-c551-4ef4-8d8c-a232c7374276",
      "name": "Claude Deep Research Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2128,
        1136
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Analyze this security event: ' + JSON.stringify($json) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a senior threat intelligence researcher specializing in deep security analysis. Analyze this Microsoft Sentinel security event:\n\nEvent Data: {{ $json.raw_event }}\n\nConduct comprehensive threat research:\n1. Determine threat severity and classification\n2. Identify attack patterns and techniques\n3. Extract all indicators of compromise\n4. Research threat actor TTPs using available intelligence sources\n5. Map to MITRE ATT&CK framework\n6. Correlate with known threat campaigns\n7. Provide detailed remediation steps\n8. Explain your analytical reasoning\n\nProvide thorough, evidence-based analysis."
        }
      },
      "id": "bca99a8b-9c61-43b7-92e8-eb002c692a36",
      "name": "Claude Threat Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2000,
        912
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"threat_level\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"Critical\", \"High\", \"Medium\", \"Low\"]\n\t\t},\n\t\t\"attack_type\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"indicators_of_compromise\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"mitre_tactics\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"confidence_score\": {\n\t\t\t\"type\": \"number\",\n\t\t\t\"minimum\": 0,\n\t\t\t\"maximum\": 1\n\t\t},\n\t\t\"recommended_actions\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"reasoning\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t},\n\t\"required\": [\"threat_level\", \"attack_type\", \"confidence_score\", \"reasoning\"]\n}"
      },
      "id": "22f34cf5-2773-44e8-81f7-e8f725adf9fb",
      "name": "Gemini Threat Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2000,
        1648
      ]
    },
    {
      "parameters": {},
      "id": "afb33e41-fefa-4544-96ef-afdfef2c60b9",
      "name": "Gemini Multi-Modal Analysis Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2128,
        1648
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Analyze this security event: ' + JSON.stringify($json) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a threat correlation specialist analyzing large-scale security data. Analyze this Microsoft Sentinel event:\n\nEvent Data: {{ $json.raw_event }}\n\nPerform multi-dimensional threat correlation:\n1. Assess threat level and attack classification\n2. Identify behavioral patterns and anomalies\n3. Extract indicators of compromise\n4. Correlate across multiple data sources and timeframes\n5. Map to MITRE ATT&CK tactics\n6. Identify related events and attack chains\n7. Recommend prioritized response actions\n8. Provide detailed reasoning\n\nFocus on pattern recognition and cross-event correlation."
        }
      },
      "id": "b1367ae7-0f5e-4ea8-a45a-95c53f14074b",
      "name": "Gemini Correlation Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2000,
        1424
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "e19c891c-16ae-4891-ab62-621ccc08d99e",
      "name": "Merge Multi-AI Threat Analysis",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2736,
        976
      ]
    },
    {
      "parameters": {
        "jsCode": "// Consensus Threat Scoring Engine\n// Analyzes outputs from GPT-4, Claude, and Gemini agents to create unified threat assessment\n\nconst items = $input.all();\n\n// Initialize consensus results array\nconst consensusResults = [];\n\n// Group items by event (assuming items come in sets of 3 from the merge node)\nfor (let i = 0; i < items.length; i += 3) {\n  const gpt4Analysis = items[i]?.json?.output || {};\n  const claudeAnalysis = items[i + 1]?.json?.output || {};\n  const geminiAnalysis = items[i + 2]?.json?.output || {};\n  \n  // Extract confidence scores (0-100)\n  const gpt4Confidence = gpt4Analysis.confidenceScore || 0;\n  const claudeConfidence = claudeAnalysis.confidenceScore || 0;\n  const geminiConfidence = geminiAnalysis.confidenceScore || 0;\n  \n  // Calculate average confidence score\n  const avgConfidence = (gpt4Confidence + claudeConfidence + geminiConfidence) / 3;\n  \n  // Extract threat levels\n  const threatLevels = [\n    gpt4Analysis.threatLevel || 'low',\n    claudeAnalysis.threatLevel || 'low',\n    geminiAnalysis.threatLevel || 'low'\n  ];\n  \n  // Determine majority threat level\n  const threatLevelCounts = {};\n  threatLevels.forEach(level => {\n    threatLevelCounts[level] = (threatLevelCounts[level] || 0) + 1;\n  });\n  \n  const majorityThreatLevel = Object.keys(threatLevelCounts).reduce((a, b) => \n    threatLevelCounts[a] > threatLevelCounts[b] ? a : b\n  );\n  \n  // If no clear majority, use highest severity mentioned\n  const severityOrder = { 'critical': 4, 'high': 3, 'medium': 2, 'low': 1, 'info': 0 };\n  const finalThreatLevel = threatLevelCounts[majorityThreatLevel] >= 2 \n    ? majorityThreatLevel \n    : threatLevels.reduce((highest, current) => \n        severityOrder[current] > severityOrder[highest] ? current : highest\n      );\n  \n  // Combine all IOCs (Indicators of Compromise)\n  const allIOCs = new Set();\n  [gpt4Analysis.iocs, claudeAnalysis.iocs, geminiAnalysis.iocs].forEach(iocs => {\n    if (Array.isArray(iocs)) {\n      iocs.forEach(ioc => allIOCs.add(JSON.stringify(ioc)));\n    }\n  });\n  const combinedIOCs = Array.from(allIOCs).map(ioc => JSON.parse(ioc));\n  \n  // Combine all recommendations\n  const allRecommendations = [];\n  [gpt4Analysis.recommendations, claudeAnalysis.recommendations, geminiAnalysis.recommendations].forEach(recs => {\n    if (Array.isArray(recs)) {\n      allRecommendations.push(...recs);\n    }\n  });\n  \n  // Remove duplicate recommendations\n  const uniqueRecommendations = [...new Set(allRecommendations)];\n  \n  // Combine MITRE ATT&CK techniques\n  const allMitreTechniques = new Set();\n  [gpt4Analysis.mitreTechniques, claudeAnalysis.mitreTechniques, geminiAnalysis.mitreTechniques].forEach(techniques => {\n    if (Array.isArray(techniques)) {\n      techniques.forEach(tech => allMitreTechniques.add(tech));\n    }\n  });\n  \n  // Create consensus result\n  consensusResults.push({\n    json: {\n      consensusScore: Math.round(avgConfidence * 100) / 100,\n      threatLevel: finalThreatLevel,\n      threatLevelVotes: threatLevelCounts,\n      iocs: combinedIOCs,\n      recommendations: uniqueRecommendations,\n      mitreTechniques: Array.from(allMitreTechniques),\n      individualAnalyses: {\n        gpt4: {\n          threatLevel: gpt4Analysis.threatLevel,\n          confidence: gpt4Confidence,\n          summary: gpt4Analysis.summary\n        },\n        claude: {\n          threatLevel: claudeAnalysis.threatLevel,\n          confidence: claudeConfidence,\n          summary: claudeAnalysis.summary\n        },\n        gemini: {\n          threatLevel: geminiAnalysis.threatLevel,\n          confidence: geminiConfidence,\n          summary: geminiAnalysis.summary\n        }\n      },\n      timestamp: new Date().toISOString(),\n      originalEvent: items[i]?.json?.event || {}\n    }\n  });\n}\n\nreturn consensusResults;"
      },
      "id": "879d9bea-0bbd-4f79-97d6-814258bfcdea",
      "name": "Consensus Threat Scoring Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        992
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.threat_level }}",
                    "rightValue": "Critical",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Critical Threat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.threat_level }}",
                    "rightValue": "High",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High Threat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.threat_level }}",
                    "rightValue": "Medium",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Medium Threat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.threat_level }}",
                    "rightValue": "Low",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low/Info"
            }
          ]
        }
      },
      "id": "41adbd7e-94ea-4045-8732-12231093ceb2",
      "name": "Route by Threat Severity",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3184,
        960
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "alert_title",
              "value": "🚨 CRITICAL THREAT DETECTED - Immediate Action Required",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "alert_message",
              "value": "={{ '**Threat Level:** ' + $json.threat_level + '\\n**Attack Type:** ' + $json.attack_type + '\\n**Confidence:** ' + ($json.confidence_score * 100) + '%\\n**IOCs:** ' + $json.indicators_of_compromise.join(', ') + '\\n**Actions:** ' + $json.recommended_actions.join('; ') }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5b510525-2f08-4019-9a1c-8c59462d83b3",
      "name": "Format Critical Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3408,
        896
      ]
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "mode": "list",
          "value": "<__PLACEHOLDER_VALUE__security_team__>"
        },
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "<__PLACEHOLDER_VALUE__soc_channel__>"
        },
        "contentType": "html",
        "message": "={{ $json.alert_title + '<br><br>' + $json.alert_message }}"
      },
      "id": "36cc0a86-f8b6-4fd0-81f1-ab1d06fead83",
      "name": "Alert Security Operations Center",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        3632,
        640
      ],
      "webhookId": "391b23fb-2020-4f97-bf45-128ee16fac8f"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "<__PLACEHOLDER_VALUE__incident_response_channel__>"
        },
        "text": "={{ $json.alert_title + '\\n\\n' + $json.alert_message }}"
      },
      "id": "1dc4b133-a0f5-4892-a0a9-f154dc765c37",
      "name": "Alert Incident Response Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        3632,
        832
      ],
      "webhookId": "f3ca1e0b-99fd-4d24-87c0-d0d2c17690d0"
    },
    {
      "parameters": {
        "fromEmail": "security-alerts@company.com",
        "toEmail": "<__PLACEHOLDER_VALUE__ciso_email__>",
        "subject": "={{ '🚨 CRITICAL SECURITY THREAT - ' + $json.attack_type }}",
        "html": "={{ '<h2>' + $json.alert_title + '</h2><p>' + $json.alert_message + '</p>' }}",
        "options": {}
      },
      "id": "b2968d73-db4c-47d7-808a-e2b5ef9dd440",
      "name": "Email CISO - Critical Threat",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3632,
        1024
      ],
      "webhookId": "bcf69e46-e560-4803-b7b7-05fdcd717e5f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "alert_title",
              "value": "⚠️ High Priority Threat Detected",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "alert_message",
              "value": "={{ '**Threat Level:** ' + $json.threat_level + '\\n**Attack Type:** ' + $json.attack_type + '\\n**Confidence:** ' + ($json.confidence_score * 100) + '%\\n**IOCs:** ' + $json.indicators_of_compromise.join(', ') + '\\n**Actions:** ' + $json.recommended_actions.join('; ') }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8d3f0787-3c36-4337-9cc8-c561794e09b6",
      "name": "Format High Priority Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3408,
        1216
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "<__PLACEHOLDER_VALUE__security_analysts_channel__>"
        },
        "text": "={{ $json.alert_title + '\\n\\n' + $json.alert_message }}"
      },
      "id": "a8d89fae-9eb3-4be2-88a3-77f9b7437160",
      "name": "Notify Security Analysts",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        3632,
        1216
      ],
      "webhookId": "a12bcd3f-23ae-4453-ac67-f939679e97ec"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "threat_id",
              "value": "={{ $json.event_id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "detection_timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "threat_level",
              "value": "={{ $json.threat_level }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "attack_type",
              "value": "={{ $json.attack_type }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "confidence_score",
              "value": "={{ $json.confidence_score }}",
              "type": "number"
            },
            {
              "id": "id-6",
              "name": "indicators_of_compromise",
              "value": "={{ JSON.stringify($json.indicators_of_compromise) }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "mitre_tactics",
              "value": "={{ JSON.stringify($json.mitre_tactics) }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "recommended_actions",
              "value": "={{ JSON.stringify($json.recommended_actions) }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "analysis_reasoning",
              "value": "={{ $json.reasoning }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "raw_event_data",
              "value": "={{ JSON.stringify($json.raw_event) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9730e5ae-eea4-4cb5-9cf1-6f73688f39f0",
      "name": "Prepare Threat Intelligence Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3856,
        992
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "name",
          "value": "<__PLACEHOLDER_VALUE__threat_intelligence_schema__>"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "<__PLACEHOLDER_VALUE__threat_events_table__>"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "07870454-78c0-4060-903d-474ecb58b229",
      "name": "Store Threat Intelligence",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4080,
        992
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "threat_level"
            }
          ]
        },
        "options": {}
      },
      "id": "4cf4ec1f-cb23-4668-9991-48c1d5babe52",
      "name": "Aggregate Daily Threat Metrics",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4304,
        992
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {},
            {
              "aggregation": "average",
              "field": "confidence_score"
            },
            {
              "aggregation": "countUnique",
              "field": "threat_type"
            }
          ]
        },
        "options": {}
      },
      "id": "256a16ba-3825-44ea-9d61-2537a5fa0836",
      "name": "Calculate Threat Statistics",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        4528,
        992
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "report_date",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "total_threats_analyzed",
              "value": "={{ $json.count }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "critical_threats",
              "value": "={{ $json.critical_count || 0 }}",
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "high_threats",
              "value": "={{ $json.high_count || 0 }}",
              "type": "number"
            },
            {
              "id": "id-5",
              "name": "average_confidence",
              "value": "={{ $json.avg_confidence_score }}",
              "type": "number"
            },
            {
              "id": "id-6",
              "name": "executive_summary",
              "value": "Daily threat intelligence summary with key metrics and trends",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a6dcae1e-25eb-4211-a667-7d8f1d3d5828",
      "name": "Format Executive Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4752,
        992
      ]
    },
    {
      "parameters": {
        "fromEmail": "security-reports@company.com",
        "toEmail": "<__PLACEHOLDER_VALUE__executive_team_email__>",
        "subject": "={{ 'Daily Threat Intelligence Report - ' + $json.report_date }}",
        "html": "={{ '<h2>Daily Security Threat Summary</h2><p><strong>Total Threats:</strong> ' + $json.total_threats_analyzed + '</p><p><strong>Critical:</strong> ' + $json.critical_threats + ' | <strong>High:</strong> ' + $json.high_threats + '</p><p><strong>Avg Confidence:</strong> ' + ($json.average_confidence * 100) + '%</p><p>' + $json.executive_summary + '</p>' }}",
        "options": {}
      },
      "id": "7b8775b7-6629-4d0e-b2f5-2001d5d89619",
      "name": "Send Daily Executive Summary",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        4976,
        992
      ],
      "webhookId": "0f5cd2c5-8252-41ac-b7cf-bf1d8e30c69b"
    }
  ],
  "pinData": {},
  "connections": {
    "Poll Sentinel Logs": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Real-time Sentinel Events": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Fetch Sentinel Security Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sentinel Security Logs": {
      "main": [
        [
          {
            "node": "Normalize Security Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Security Events": {
      "main": [
        [
          {
            "node": "Filter High-Risk Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter High-Risk Events": {
      "main": [
        [
          {
            "node": "Split Events for Parallel AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Events for Parallel AI Analysis": {
      "main": [
        [
          {
            "node": "GPT-4 Threat Hunter Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Claude Threat Research Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini Correlation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings for Threat Vectors": {
      "ai_embedding": [
        [
          {
            "node": "Historical Threat Intelligence DB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Historical Threat Intelligence DB": {
      "ai_tool": [
        [
          {
            "node": "GPT-4 Threat Hunter Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Claude Threat Research Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Gemini Correlation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4 Threat Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "GPT-4 Threat Hunter Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4 Threat Analysis Model": {
      "ai_languageModel": [
        [
          {
            "node": "GPT-4 Threat Hunter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Threat Context Memory": {
      "ai_memory": [
        [
          {
            "node": "GPT-4 Threat Hunter Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Claude Threat Research Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Gemini Correlation Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal Intelligence Tool": {
      "ai_tool": [
        [
          {
            "node": "GPT-4 Threat Hunter Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Claude Threat Research Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Gemini Correlation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AbuseIPDB Reputation Tool": {
      "ai_tool": [
        [
          {
            "node": "GPT-4 Threat Hunter Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Claude Threat Research Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Gemini Correlation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MITRE ATT&CK Framework Tool": {
      "ai_tool": [
        [
          {
            "node": "GPT-4 Threat Hunter Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Claude Threat Research Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Gemini Correlation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Claude Threat Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Claude Threat Research Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Claude Deep Research Model": {
      "ai_languageModel": [
        [
          {
            "node": "Claude Threat Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Threat Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini Correlation Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Multi-Modal Analysis Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Correlation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4 Threat Hunter Agent": {
      "main": [
        [
          {
            "node": "Merge Multi-AI Threat Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Threat Research Agent": {
      "main": [
        [
          {
            "node": "Merge Multi-AI Threat Analysis",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gemini Correlation Agent": {
      "main": [
        [
          {
            "node": "Merge Multi-AI Threat Analysis",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Multi-AI Threat Analysis": {
      "main": [
        [
          {
            "node": "Consensus Threat Scoring Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consensus Threat Scoring Engine": {
      "main": [
        [
          {
            "node": "Route by Threat Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Threat Severity": {
      "main": [
        [
          {
            "node": "Format Critical Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format High Priority Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Critical Alert": {
      "main": [
        [
          {
            "node": "Alert Security Operations Center",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert Incident Response Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email CISO - Critical Threat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format High Priority Alert": {
      "main": [
        [
          {
            "node": "Notify Security Analysts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Security Operations Center": {
      "main": [
        [
          {
            "node": "Prepare Threat Intelligence Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Incident Response Team": {
      "main": [
        [
          {
            "node": "Prepare Threat Intelligence Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email CISO - Critical Threat": {
      "main": [
        [
          {
            "node": "Prepare Threat Intelligence Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Security Analysts": {
      "main": [
        [
          {
            "node": "Prepare Threat Intelligence Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Threat Intelligence Record": {
      "main": [
        [
          {
            "node": "Store Threat Intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Threat Intelligence": {
      "main": [
        [
          {
            "node": "Aggregate Daily Threat Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Daily Threat Metrics": {
      "main": [
        [
          {
            "node": "Calculate Threat Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Threat Statistics": {
      "main": [
        [
          {
            "node": "Format Executive Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Executive Report": {
      "main": [
        [
          {
            "node": "Send Daily Executive Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b1bfd5b3-13ab-49cc-8d60-538c1c99dd4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21d94564b5c205025383bd1e1717b3263f901f837d66ca59c649afeeaacf7ca8"
  },
  "id": "cscjBldhMmUlYPVyzPUqv",
  "tags": []
}